
<h1 style="text-align: center; position: relative; top: 100px; left: 375px;">User Profile</h1>
<div class="div" style="display: flex;">
    <div style="display: flex; border: 2px solid black;">
        <div class="img">
            <img [src]="imgSrc" style="height: 200px;">
        </div>
        <div class="details">
            <p> <span class="label">Name</span> : {{details.username}}</p>
            <p> <span class="label">Email</span> : {{details.email}}</p>
            <p> <span class="label">Contact No.</span> : {{details.contact}}</p>
            <p> <span class="label">Height</span> : {{details.height}}</p>
            <p> <span class="label">Weight</span> : {{details.weight}}</p>
            <p> <span class="label">Qualification</span> : {{details.qualification}}</p>
            <p> <span class="label">Address</span> : {{details.address}}</p>
        </div>
    </div>
        
</div>